body {
    margin: 0;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}

img {
    width: 100px;
}

.hero {
    height: 343px;
    background-image: url("images/gyumri.jpeg");
    background-size: cover;
    color: #87DCED;
    padding-top: 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-header, #hero-text {
    background-color: #040203;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 0px 15px 5px #87DCED;
}

.activities {
    padding-top: 39px;
    padding-bottom: 39px;
    background-color: #87DCED;
    color: #593316;
}

#three-activities {
    display: flex;
    justify-content: space-around;
}

.activity {
    width: 200px;
}

.activity-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.avatar {
    width: 150px;
}

.guide {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #9db4c0;
    color: #253237;
    border-bottom: 6px solid #5c6b73;
    border-radius: 10px;
}

.quote {
    font-style: italic;
    margin: 10px;
}
