/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100px;
}

.hero {
    background-image: url("images/torshov.jpg");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-heading {
    background: #1D3557;
    padding: 3px 12px 3px 12px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 119px;
    margin-bottom: 21px;
}

#hero-subheading {
    background: #457B9D;
    margin: 0px 154px 119px 154px;
    padding: 5px 28px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.activity-image {
    border-radius: 50%;
}

.activities {
    background: #F1FAEE;
    margin-top: 0px;
    padding: 30px 23px 20px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#activities-title {
    margin-top: 0px;
}

#activities-container {
    display: flex;
}

.activity {
    text-align: center;
    margin: 0px 10px;
}

.guide {
    width: 400px;
    margin: 50px auto;
    padding: 23px 0px 22px 13px;
    display: flex;
    background: #A8DADC;
    border-bottom: 6px solid #1D3557;
    border-radius: 10px;
}

.guide-portrait {
    width: 180px;
    border-radius: 10px;
}

.guide-text {
    margin: 0px 5px 0px 2px;
    text-align: center; 
}

.guide p {
    font-style: italic;
}

